* {
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(circle at 25.63% 29.55%, #ffffff 0, #cec7c7 25%, #d9cff7 50%, #9a99a6 75%, #6b6a61 100%);
  color: black;
  transition: background 0.5s ease-in-out;
  margin: 0;
  font-family: sans-serif;
}



